<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/user_layout}">
<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>
<body>
<div layout:fragment="user_content">
  <h1>
    Logged user: <span sec:authentication="name"></span>
  </h1>
  <div class="row">
    <div class="col-12">
      <div class="card mt-2 mb-2">
        <div class="card-header">
          Article Charts
        </div>
        <div class="card-body">
          <table class="table table-sm table-hover">
            <thead>
            <tr>
              <th>Titles</th>
              <th>Comment</th>
              <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article: ${last3Articles}">
              <td th:text="${article.getTitle()}"></td>
              <td th:text="${article.getComment()}"></td>
              <td>
                <a th:href="@{'/user/article/details/' + ${article.getId()} + '?reaction=false'}" type="button"
                   class="btn btn-primary">Details</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
