<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>

<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                <a th:href="@{'/users/new'}" th:type="button" class="btn btn-dark">New user</a>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Accounts
                    </th>
                    <th>
                        More info
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.user.id}"></td>
                    <td th:text="${user.user.name}"></td>
                    <td th:text="${user.user.created}"></td>
                    <td th:text="${user.number}"></td>
                    <td>
                        <a th:href="@{'/users/' + ${user.user.id} }" th:type="button" class="btn btn-dark">Details</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>