<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <a th:href="@{'/transactions'}" th:type="button" class="btn btn-dark">Transactions</a>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>About account</th>
                    </tr>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            Balance
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Owner id
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${account.accId}" id="accountID"></td>
                        <td th:text="${account.accCreated}"></td>
                        <td th:text="${account.balance}"></td>
                        <td th:text="${account.name}"></td>
                        <td th:text="${account.userId}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>
                            Transactions
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Summa
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            More info
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transaction : ${account.transactions}">
                        <td th:text="${transaction.id}"></td>
                        <td th:text="${transaction.amount}"></td>
                        <td th:text="${transaction.type}"></td>
                        <td>
                            <a th:href="@{'/transactions/' + ${transaction.id} }" th:type="button" class="btn btn-dark">Details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <a th:href="@{'http://localhost:8080/transactions/download/'  + ${account.accId} }" target="_blank" th:type="button" class="btn btn-dark">Download</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous">
</script>

<!--
<script th:src="@{/js/download.js}"> </script>
-->

</body>
</html>