<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/user_layout}">
<head>
    <meta charset="utf-8">
    <title>My Post</title>
</head>
<body>

<div layout:fragment="user_content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    My Post
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>title</th>
                            <th>created</th>
                            <th>comment</th>
                            <th>details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article,iter : ${pageData.getItems()}">
                            <td th:text="${article.getTitle()}"></td>
                            <td th:text="${#calendars.format(article.getCreated(),'dd MMMM yyyy')}"></td>
                            <td th:text="${article.getComment()}"></td>
                            <td>
                                <a th:href="@{'/user/article/details/' + ${article.getId()} + '?reaction=true'}" type="button" class="btn btn-primary">details</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
