<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
  <div class="card">
    <div class="card-header">
      <h4>Something going wrong</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover">
        <tr>
          <td>
            You entered invalid data, check again it please!
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>